$red: #bc303e
@mixin button
    background: linear-gradient(to bottom, #d64150 0%, $red 100%) !important
    box-shadow: 0 4px 0 0 #861c27, 0 9px 9px 0 rgba(0, 0, 0, 0.35) !important
    border: none
    height: 55px
    max-width: 190px
    width: 100%
    border-radius: 5px
    color: #ffffff
    font-size: 18px
    transition: 0.4s
    border: none


@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,600,700&display=swap&subset=cyrillic');

body 
    font-family: 'Exo 2'
    margin: 0
    padding: 0
    color: #222
    line-height: 1.2
button, a, input
    outline: none !important
p 
    padding: 0
    margin: 0
ul 
    margin: 0
    padding: 0
li
    list-style: none
img 
    max-width: 100%
h2 
    text-align: center
    padding-bottom: 25px
header
    padding-top: 15px
    padding-bottom: 30px
.header__box
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 20px
    &_tel img
        width: 25px
    &_tel a  
            color: $red
            padding-left: 10px
            font-size: 20px
    &_logo img
        width: 100px
.header__menu
     border-bottom: 2px solid #ccc
     background: #f5f5f5
     ul
        width: 100%
        display: flex
        li 
            margin-right: 5%
            a 
                font-weight: 600
                font-size: 18px
                padding: 20px 25px
                float: left
                color: #000
            a:hover 
                text-decoration: none
                background: $red
                color: #fff
.sell__banner
    background: #f5f5f5
    margin-bottom: 30px
    .sell__banner_box
    float: left
    width: 100%
    padding: 30px
.sell__banner_img
    float: left
    width: 60%
.sell__banner_content
    float: left
    width: 40%
    p 
        color: $red
        font-size: 40px
        padding-bottom: 15px
        font-weight: 600
    ul 
        padding-bottom: 25px
        li 
            padding: 5px 0
            font-size: 18px
    button.sell 
        @include button
        &:hover
            box-shadow: 0 4px 0 0 #861c27, 0 7px 7px 0 rgba(0, 0, 0, 0.35) !important
            transition: 0.4s
        &:focus
            box-shadow: 0 2px 0 0 #861c27, 0 7px 7px 0 rgba(0, 0, 0, 0.35) !important
            position: relative
            top: 2px
            height: 57px
.seo__text1
    text-align: left
    text-indent: 15px
    padding-bottom: 30px
    p 
        padding-bottom: 10px
.products .row
    flex-direction: column
    h2 

.products__block
    position: relative
    >div
        float: left
    .products__item
        position: relative  
        border: 1px solid #dddddd
        text-align: center
        padding: 15px
        margin-bottom: 25px
        &_img
            padding-bottom: 20px
        .products__sell
            border: 2px solid $red
            padding: 5px 20px
            color: #222
            background: none
            &:hover
                background: $red
                color: #fff
.form1
    background: #000
    .row
        flex-direction: column
    h2 
        color: #fff
        font-weight: 600
        padding-top: 25px
    form 
        >div
            position: relative
            float: left
        span
            margin: 10px 25px
            float: left
            width: 100%
            input, textarea
                width: 100%
                display: block
                padding: 10px 10px
                border-radius: 5px
                border:none
            textarea
                height: 125px
        .form1__bottom
                width: 100%
                display: flex
                align-items: center
    .form__button
        @include button
        width: 100%
        float: left
        max-width: 100%

    
            



