@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap&subset=cyrillic");
body {
  font-family: montserrat;
}

header .header_box {
  padding: 15px 0;
}

header .header_box .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .header_box .logo p {
  padding: 0 20px 0 35px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

header .header_box .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

header .header_box .tel a {
  font-size: 18px;
  font-weight: 700;
  color: #222222;
  padding-bottom: 6px;
}

header .header_box .contact1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

header .header_box .contact1 p {
  font-weight: 500;
  margin: 0px 0;
  font-size: 14px;
}

header .header_box .contact1 button {
  background: #fe8839;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  padding: 5px 17px;
  margin-top: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.main_menu {
  background: #0a6baf;
  z-index: 10;
  position: relative;
}

.main_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  float: left;
  width: 100%;
}

.main_menu ul li {
  padding: 20px 0;
}

.main_menu ul li a {
  color: #ffffff;
}

.main_block .container {
  -webkit-box-shadow: 0 0px 10px 0 #eaeaea;
  box-shadow: 0 0px 10px 0 #eaeaea;
  z-index: 2;
  position: relative;
  padding-top: 25px;
}

.main_block .container .left_menu {
  background: #eaeaea;
  background: #0a6baf;
}

.main_block .container .left_menu li {
  background: #fff;
}
