mixin cont
  .container
    .row
        block
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Каталог продукции сыпучих материалов</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
</head>

body
 
    header
        .header_box
            +cont
                .col-xs-12.col-sm-5.logo
                    img(src="/img/logo.png", alt="")
                    p.logo_text ОПТОВАЯ ПОСТАВКА НЕРУДНЫХ МАТЕРИАЛОВ
                .col-xs-12.col-sm-4.contact1
                        p Режим работы: с 08:00 до 21:00
                        p 
                            a(href="mailto:info@pesok.um.la") info@pesok.um.la
                        button.recall Заказать звонок
                .col-xs-12.col-sm-3.tel
                    a(href="tel:+74950000000") +7 (495) 000-00-00
                    a(href="tel:+74950000000") +7 (495) 000-00-00
                    a(href="tel:+74950000000") +7 (495) 000-00-00
        .main_menu
            +cont
                ul
                    li
                        a(href="#") Главная
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Прайс-лист
                    li
                        a(href="#") Доставка и оплата
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Гарантия качества
                    li
                        a(href="#") Контакты
    main.main_block
        +cont
            .col-xs-12.col-md-4.left_menu
                ul
                    li
                        a(href="#") Сыпучие материалы
                            ul
                                li
                                    a(href="#") Щебень
                                        ul
                                            li
                                                a(href="#") Гравийный щебень 5-20 мм
                                            li
                                                a(href="#") Гравийный щебень 20-40 мм
                                            li
                                                a(href="#") Гравийный щебень 40-70 мм
                                    a(href="#") Отсев
                                        ul
                                            li
                                                a(href="#") Гранитный отсев (розовый)
                                            li
                                                a(href="#") Гранитный отсев (серый)
                        a(href="#") Грунт
                            ul
                                li
                                    a(href="#") Почвогрунт
                                        ul
                                            li
                                                a(href="#") Почвогрунт Универсал
                                            li
                                                a(href="#") Почвогрунт Премиум
                                    a(href="#") Чернозем
                                        ul
                                            li
                                                a(href="#") Чернозем Универсал
                                            li
                                                a(href="#") Чернозем Премиум
            .col-xs-12.col-md-8.content_block
                .main_text
                    h2 Продажа нерудных материалов с доставкой
                    p это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                .main_catalog
                    .col-xs-12-col-md-6
                        h3 Сыпучие материалы
                            .col-xs-12.col-sm-6
                                img(src="/img/otsev.jpg", alt="")
                                p 
                                    a(href="#") Отсев
                            .col-xs-12.col-sm-6
                                img(src="/img/scheben.png", alt="")
                                p 
                                    a(href="#") Щебень
                    .col-xs-12-col-md-6
                        h3 Грунт
                            .col-xs-12.col-sm-6
                                img(src="/img/pochvogrunt.png", alt="")
                                p 
                                    a(href="#") Почвогрунт
                            .col-xs-12.col-sm-6
                                img(src="/img/chernozem.png", alt="")
                                p 
                                    a(href="#") Чернозем
                .main_form
                    .form_content
                        h2 Оставьте заявку и мы с Вами свяжемся в ближайшее время
                            form 
                                input(type="text" placeholder="Ваше имя")
                                input(type="text" placeholder="Номер телефона")
                                input(type="textarea" placeholder="Комментарий или вопрос...")
                                input(type="submit" value="отправить")   








    footer
        +cont
            .col-xs-12.col-md-4.footer1
                img(src="/img/logo.png", alt="")
                p ОПТОВАЯ ПОСТАВКА НЕРУДНЫХ МАТЕРИАЛОВ
                a(href="tel:") +7 (495) 000-00-00
                a(href="mailto:") info@pesok.um.la
                p pesok.um.la © 2020 Все права защищены
            .col-xs-12.col-md-4
                ul
                    li
                        a(href="#") Главная
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Прайс-лист
                    li
                        a(href="#") Доставка и оплата
            .col-xs-12.col-md-4
                ul
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Гарантия качества
                    li
                        a(href="#") Контакты



            
                
    // ------------------- scripts -----------------------
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    script(src="js/slick.js")
    script(src="js/scripts.js")

</html>
